**/*.dSYM/
**/.DS_Store
**/.benchmarks/
**/.cache/
**/.idea/
**/.revision
*.dylib
*.exe
*.log
*.out
*.pstats
*.pstats.pdf
*.pstats.png
*.pyc
*.pyo
*.so
*.sock
*.swp
/*.egg-info/
/.env
/.mypy_cache/
/.pytest_cache/
/.python-version
/.tox/
/.venv*/
/MANIFEST
/__pycache__/
/build/
/cython_debug/
/dist/
/gen/
/profiles/
/target/
antlr-*.jar
test-*.xml
