**/.DS_Store
**/.idea/
**/.revision
*.dylib
*.exe
*.pstats
*.pstats.png
*.pyc
*.pyo
*.so
*.sock
*.swp
.dockerimages-*
/.benchmarks/
/.cache/
/.env
/.mypy_cache/
/.pytest_cache/
/.python-version
/.tox/
/.venv*/
/__pycache__/
/build/
/cython_debug/
/dist/
/gen/
/MANIFEST
/omnibus.egg-info/
/profiles/
/target/
antlr-*.jar
test-*.xml
