**/*.dSYM/
**/.benchmarks/
**/.cache/
**/.DS_Store
**/.idea/
**/.revision
*.dylib
*.exe
*.out
*.pstats
*.pstats.pdf
*.pstats.png
*.pyc
*.pyo
*.so
*.sock
*.swp
/*.egg-info/
/.env
/.mypy_cache/
/.pytest_cache/
/.python-version
/.tox/
/.venv*/
/__pycache__/
/build/
/cython_debug/
/dist/
/gen/
/MANIFEST
/profiles/
/target/
antlr-*.jar
test-*.xml
