include README.md
include LICENSE
include LICENSE-*

exclude omnibus/_ext/cy/**.cpp
exclude omnibus/_ext/cy/**/*.cpp

global-include *.g4
global-include *.interp
global-include *.tokens
global-include .revision

include omnibus/_ext/cc/**.cc
include omnibus/_ext/cc/**.h
include omnibus/_ext/cy/**.pxd
include omnibus/_ext/cy/**.pyi
include omnibus/_ext/cy/**.pyx
include omnibus/_ext/cy/**/*.h
include omnibus/_ext/cy/**/*.pyx
include omnibus/_ext/m/**.h
include omnibus/_ext/m/**.m

global-exclude **/dev/**

global-exclude *.py[cod]
global-exclude *.so
global-exclude .DS_Store
global-exclude .gitignore
global-exclude __pycache__

global-exclude **/tests/**
exclude omnibus/conftest.py
