include README.md
include LICENSE
include LICENSE-*

global-exclude *.py[co]
global-exclude __pycache__
global-exclude .DS_Store
global-exclude .gitignore

global-exclude **/tests/**
exclude omnibus/conftest.py

exclude omnibus/_ext/cy/*.cpp
include omnibus/_ext/cc/*.cc
include omnibus/_ext/cc/*.h
include omnibus/_ext/cy/*.pyi
include omnibus/_ext/cy/*.pyx
include omnibus/_ext/m/*.h
include omnibus/_ext/m/*.m
