include README.md
include LICENSE
include LICENSE-*

recursive-exclude omnibus/_ext/cy *.cpp

recursive-include omnibus *.dss
recursive-include omnibus *.g4
recursive-include omnibus *.interp
recursive-include omnibus *.tokens

include .revision
include omnibus/.revision

recursive-include omnibus/_ext/cc *.cc
recursive-include omnibus/_ext/cc *.h
recursive-include omnibus/_ext/cy *.h
recursive-include omnibus/_ext/cy *.pxd
recursive-include omnibus/_ext/cy *.pyi
recursive-include omnibus/_ext/cy *.pyx
recursive-include omnibus/_ext/cy *.pyx
recursive-include omnibus/_ext/m *.h
recursive-include omnibus/_ext/m *.m

global-exclude **/dev/**  #@dev

global-exclude *.py[cod]
global-exclude *.so
global-exclude .DS_Store
global-exclude .gitignore
global-exclude __pycache__

global-exclude **/tests/**
exclude omnibus/conftest.py
