-r requirements.txt


# packaging deps

twine==3.1.1
wheel==0.34.2


# actual code deps

pytest==5.4.1


# useful tools

astpretty==2.0.0
flake8==3.7.9
ipdb==0.13.2
ipython==7.13.0
objgraph==3.4.1
pipdeptree==0.13.2
pyrasite==2.0
typed-ast==1.4.1
