setuptools>=38.0.0

Cython==0.29.21


## optional integrations

billiard==3.6.3.0
boto3==1.16.63  #@auto
botocore==1.19.63  #@auto
cbor==1.0.0
cytoolz==0.11.0
docker==4.4.1
google-api-core==1.25.1  #@auto
google-api-python-client==1.12.8  #@auto
google-auth-httplib2==0.0.4  #@auto
google-auth==1.24.0  #@auto
greenlet==1.0.0
httptools==0.1.1
kazoo==2.8.0
lz4==3.1.3
msgpack==1.0.2
mysql-connector-python==8.0.23
numpy==1.19.5
orjson==3.4.7; python_version < '3.9' and implementation_name != 'pypy'
pg8000==1.16.5  #@bug
psutil==5.8.0
psycopg2==2.8.6; implementation_name != 'pypy'
PyHive[hive]==0.6.3; python_version < '3.9' and implementation_name != 'pypy'
pymemcache==3.4.0
pymongo==3.11.2
PyMySQL==1.0.2
pyobjc-core==7.1; sys_platform == 'darwin' and implementation_name != 'pypy'
pyrsistent==0.17.3
python-dateutil==2.8.1
PyYAML==5.3.1  #@conflict
redis==3.5.3
sortedcontainers==2.3.0
SQLAlchemy==1.3.22
toml==0.10.2
toolz==0.11.1
ujson==4.0.2; implementation_name != 'pypy'
wrapt==1.12.1
zstd==1.4.8.1


## conflicting deps

# bson>=0.5.10  # supported but pymongo tramples over it with its own bson package
