aiohttp==3.6.3
apipkg==1.5
appnope==0.1.0
argon2-cffi==20.1.0
arviz==0.10.0
astpretty==2.0.0
async-generator==1.10
async-timeout==3.0.1
attrs==20.2.0
awscli==1.18.162
backcall==0.2.0
billiard==3.6.3.0
bleach==3.2.1
boto3==1.16.2
boto3-stubs==1.16.2.0
botocore==1.19.2
bsddb3==6.2.7
bson==0.5.10
cachetools==4.1.1
cbor==1.0.0
certifi==2020.6.20
cffi==1.14.3
cftime==1.2.1
chardet==3.0.4
cli-helpers==2.1.0
click==7.1.2
colorama==0.4.4
configobj==5.0.6
cryptography==3.1.1
cycler==0.10.0
Cython==0.29.21
cytoolz==0.11.0
datadog==0.39.0
ddtrace==0.43.0
decorator==4.4.2
defusedxml==0.6.0
dnspython==2.0.0
docker==4.3.1
docutils==0.16
duckdb==0.2.1
elasticsearch==7.9.1
entrypoints==0.3
execnet==1.7.1
fastavro==1.0.0.post1
fastparquet==0.4.1
fastprogress==1.0.0
flake8==3.8.4
future==0.18.2
google-api-core==1.23.0
google-api-python-client==1.12.5
google-auth==1.22.1
google-auth-httplib2==0.0.4
googleapis-common-protos==1.52.0
gprof2dot==2019.11.30
graphviz==0.14.2
greenlet==0.4.17
grpcio==1.33.1
guppy3==3.1.0
h5py==2.10.0
httpie==2.2.0
httplib2==0.18.1
httptools==0.1.1
humanize==3.1.0
hyperscan==0.1.5
idna==2.10
importlib-resources==3.0.0
iniconfig==1.1.1
intervaltree==3.1.0
ipdb==0.13.4
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
iredis==1.9.1
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
kafka-python==2.0.2
kazoo==2.8.0
keyring==21.4.0
kiwisolver==1.2.0
litecli==1.4.1
llvmlite==0.34.0
lz4==3.1.0
Mako==1.1.3
MarkupSafe==1.1.1
matplotlib==3.3.2
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.5.0
mpmath==1.1.0
msgpack==1.0.0
multidict==5.0.0
mycli==1.22.2
mypy==0.790
mypy-extensions==0.4.3
mysql-connector-python==8.0.22
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.1
netCDF4==1.5.4
nose==1.3.7
notebook==6.1.4
numba==0.51.2
numpy==1.19.2
oauthlib==3.1.0
objgraph==3.5.0
orjson==3.4.1
packaging==20.4
pandas==1.1.3
pandocfilters==1.4.2
parso==0.8.0
patsy==0.5.1
pendulum==2.1.2
pexpect==4.8.0
pg8000==1.16.5
pgcli==3.0.0
pgspecial==1.11.10
pickleshare==0.7.5
Pillow==8.0.0
pipdeptree==1.0.0
pkginfo==1.6.0
plotly==4.11.0
pluggy==0.13.1
ply==3.11
plyvel==1.3.0
prometheus-client==0.8.0
prompt-toolkit==3.0.8
protobuf==3.13.0
psutil==5.7.2
psycopg2==2.8.6
ptyprocess==0.6.0
py==1.9.0
py-cpuinfo==7.0.0
py4j==0.10.9.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
pyglet==1.5.8
Pygments==2.7.1
PyHive==0.6.3
PyJWT==1.7.1
pykafka==2.8.0
pymc3==3.9.3
pymemcache==3.4.0
pymongo==3.11.0
PyMySQL==0.10.1
Pyomo==5.7.1
pyparsing==2.4.7
pyrasite==2.0
pyroaring==0.2.9
pyrsistent==0.17.3
pyspark==3.0.1
pytest==6.1.1
pytest-asyncio==0.14.0
pytest-benchmark==3.2.3
pytest-clarity==0.3.0a0
pytest-forked==1.3.0
pytest-mock==3.3.1
pytest-randomly==3.4.1
pytest-timeout==1.4.2
pytest-xdist==2.1.0
python-dateutil==2.8.1
python-magic==0.4.18
python-pcre==0.7
python-snappy==0.5.4
pytz==2020.1
pytzdata==2020.1
PyUtilib==6.0.0
PyYAML==5.3.1
pyzmq==19.0.2
readme-renderer==28.0
redis==3.5.3
regex==2020.10.15
requests==2.24.0
requests-toolbelt==0.9.1
retrying==1.3.3
rfc3986==1.4.0
rocksdb==0.7.0
rsa==4.6
s3cmd==2.1.0
s3transfer==0.3.3
sasl==0.2.1
scipy==1.5.3
scramp==1.2.0
Send2Trash==1.5.0
setproctitle==1.1.10
six==1.15.0
slackclient==2.9.3
sortedcontainers==2.2.2
SQLAlchemy==1.3.20
sqlalchemy-stubs==0.3
sqlparse==0.4.1
sympy==1.6.2
tabulate==0.8.7
tenacity==6.2.0
termcolor==1.1.0
terminado==0.9.1
terminaltables==3.1.0
testpath==0.4.4
Theano==1.0.5
thrift==0.13.0
thrift-sasl==0.4.2
toml==0.10.1
toolz==0.11.1
tornado==6.0.4
tqdm==4.50.2
traitlets==5.0.5
twine==3.2.0
typed-ast==1.4.1
typing-extensions==3.7.4.3
ujson==4.0.1
uritemplate==3.0.1
urllib3==1.25.11
uvloop==0.14.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
wrapt==1.12.1
xarray==0.16.1
yappi==1.3.0
yarl==1.6.2
zstd==1.4.5.1
