setuptools>=38.0.0

Cython==0.29.21


## optional integrations

billiard==3.6.3.0
boto3==1.14.20
botocore==1.17.20
bson==0.5.10
cbor==1.0.0
cytoolz==0.10.1
docker==4.2.2
google-api-core==1.21.0
google-api-python-client==1.9.3
google-auth-httplib2==0.0.4
google-auth==1.18.0
greenlet==0.4.16
httptools==0.1.1
kazoo==2.8.0
lz4==3.1.0
msgpack==1.0.0
mysql-connector-python==8.0.20
orjson==3.2.1; python_version < '3.9'
pg8000==1.16.0
psutil==5.7.0
psycopg2==2.8.5
pymemcache==3.2.0
pymongo==3.10.1
pymysql==0.9.3
pyrsistent==0.16.0
python-dateutil==2.8.1
PyYAML==5.3.1
redis==3.5.3
sortedcontainers==2.2.2
SQLAlchemy==1.3.18
toml==0.10.1
toolz==0.10.0
ujson==3.0.0
wrapt==1.12.1
zstd==1.4.5.1
