setuptools>=38.0.0

Cython==0.29.14

cytoolz==0.10.1
toolz==0.10.0

wrapt==1.11.2

docker==4.1.0

# bintrees==2.0.7
sortedcontainers==2.1.0

cbor==1.0.0
lz4==2.2.1
msgpack==0.6.2
mypy==0.760
pyrsistent==0.15.6
ujson==1.35
zstd==1.4.4.0
